@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lacquer&family=Roboto+Mono:wght@400;700&display=swap');

/* font-family: 'Koulen', cursive;
font-family: 'Lacquer', cursive;
font-family: 'Roboto Mono', monospace; */

:root {
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#1C82AD, #34ADE4);
}

header {
    height: 100vh;
    background-image: url(karsten-winegeart-5PVXkqt2s9k-unsplash.jpg);
    max-width: 1400px;
    background-size: cover;
    background-position: bottom left 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Koulen', cursive;
    color: white;
    font-size: 4rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

nav a {
    font-family: 'Lacquer', cursive;
    color: white;
    font-size: 2.5rem;
}

nav a:hover {
    color: #24556b;
}

