@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lacquer&family=Roboto+Mono:wght@400;700&display=swap');

/* font-family: 'Koulen', cursive;
font-family: 'Lacquer', cursive;
font-family: 'Roboto Mono', monospace; */

:root {
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#1C82AD, #166288);
}

.header {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--big {
    height: 100vh;
    background-image: url(karsten-winegeart-5PVXkqt2s9k-unsplash.jpg);
    max-width: 1400px;
    background-size: cover;
    background-position: bottom left 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Koulen', cursive;
    color: white;
    font-size: 4rem;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

nav a,
h2 {
    font-family: 'Lacquer', cursive;
    color: white;
    font-size: 2.5rem;
}

nav a:hover {
    color: #24556b;
}
/* nav a:hover span {
    animation: move 500ms ease-in forwards;
} */

main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

main h1,
main h2 {
    width: 100%;
    text-align: center;
}

.dog-section {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.dog-card {
    width: 250px;
    padding: 1rem;
    background-color: #D7D7D7;
    border-radius: 8px;
    position: relative;
}

.dog-card aside {
    width: 4rem;
    height: 4rem;
    background-color: rgb(12, 165, 78);
    border-radius: 50%;
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lacquer', cursive;
    color: white;
    font-size: 1.5rem;
    transform: rotateZ(20deg);
}

.dog-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 6px rgba(56, 57, 49, 0.312);
}

form {
    padding: 3rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'Lacquer', cursive;
    color: white;
}

form .checkbox-input {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1.2rem;
    accent-color: rgb(12, 165, 78);
}

form .text-input {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    gap: 1rem;
}

form .text-input input {
    padding: .2rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border: none;
    border-radius: 5px;
}
form .text-input input:focus {
    outline: none;
}
form .text-input button {
    appearance: none;
    border: none;
    font-family: 'Lacquer', cursive;
    padding: .8rem 2rem;
    font-size: 1.8rem;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.278);
    color: #176283;
}
form .text-input button:hover {
    background-color: #1763834d;
    color: white;
}
form .text-input button:active {
    color: #176283;
    box-shadow: none;
}

ul {
    font-family: 'Roboto Mono', monospace;
    color: rgb(22, 22, 22);
    line-height: 1.5rem;
    box-shadow: inset 2px 2px 6px rgba(56, 57, 49, 0.312);
    border-radius: 5px;
    padding: .5rem;
}

footer {
    padding-bottom: 2rem;
}

footer nav a {
    align-self: center;
}

/* @keyframes move {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(200%);
        opacity: 0;
    }
    
} */

@media screen and (min-width: 730px) {

    .header--big {
        flex-direction: row;
        gap: 30%;
        justify-content: center;
        background-position: bottom right 77%;
    }
}

@media screen and (min-width: 1000px) {

    :root {
        font-size: 16px;
    }

    .header--big {
        flex-direction: row;
        gap: none;
        justify-content: flex-start;
        background-position: bottom right 77%;
    }

    .header--big h1 {
        margin-left: 5vw;
    }

    .dog-card {
        width: 260px;
    }

}